[Unit]
Description=Running TADFigyelo scripts

[Service]
Type=oneshot
ExecStart=/bin/bash /path/to/scripts/tadBase.sh
# masodik fele a paramter script ami futni fog

[Install]
WantedBy=multi-user.target